* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

h1 {
    margin-top: 30px;
    font-family: "Fredoka", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: mediumvioletred;
}

.description {
    width: 70%;
    margin: 45px auto 30px auto;
    font-family: "Fredoka", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

.container-flex {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.flex-card {
    display: flex;
    width: calc(100% / 3 - 20px);
    margin: 15px 10px;
    background-color: black;
    box-shadow: 1px 1px 3px 2px lightgrey
}

img {
    width: 70px;
    height: 70px;
}

h2 {
    font-family: "Fredoka", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin: 5px 10px 2px 10px;
}

.occupation {
    font-family: "Fredoka", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    color: white;
    margin: 2px 10px 5px 10px;
}

a {
    text-decoration: none;
    color: deepskyblue;
    font-family: "Fredoka", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 5px 10px 3px 10px;
}

@media screen and (max-width: 1024px) {
    .flex-card {
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 650px) {
    .flex-card {
        width: calc(100% - 20px);
    }
}
